<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="Border">
            <div class="Social">
                <p>Follow Us:</p>
                <div class="SocialIcons">
                    <img src="" alt="Facebook_logo" />
                    <img src="" alt="Twitter_logo" />
                    <img src="" alt="Gmail_logo" />
                    <img src="" alt="Instagram_logo" />
                    <img src="" alt="Youtube_logo" />
                </div>
            </div>
            <hr class="header-hr" />
            <div class="Search">
                <p id="debra">DEBRA</p>
                <input id="searchbar" type="search" name="search" value="" src="" placeholder="Search our store" />
                <a href="@Url.Action("Index","Home")"><img id="cart" src="" alt="Cart_logo"></a>
            </div>
        </div>
        <div class="references">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="@Url.Action("Index","Home")">Shop</a>
            <a href="@Url.Action("Index","Home")">Products</a>
            <a href="@Url.Action("Index","Home")">Blog</a>
            <a href="@Url.Action("Index","Home")">About</a>
            <a href="@Url.Action("Index","Home")">Contact</a>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div class="FooterMain">
            <div>
                <h1>DEBRA</h1>
                <p>Address:</p>
                <p>4710-4890 Breckinridge St, UK Burlington, VT 05401</p>
                <p>Need Help?</p>
                <p>Call: 1-800-345-6789</p>
                <p>Email:</p>
                <p>example@example.com</p>
            </div>
            <div>
                <h2>About US</h2>
                <p>About us</p>
                <p>Store location</p>
                <p>Contact</p>
                <p>Orders tracking</p>
            </div>
            <div>
                <h2>Useful links</h2>
                <p>Returns</p>
                <p>Support Policy</p>
                <p>Size guide</p>
                <p>FAQs</p>
            </div>
            <div>
                <h2>Latest Blogs</h2>
                <div class="miniblog">
                    <img src="" alt="dude01" />
                    <h3>Temporibus autem quibusdam</h3>
                    <p>by <strong>Debra Demo Admin</strong> 15 jan, 20</p>
                </div>
                <div class="miniblog">
                    <img src="" alt="dude02" />
                    <h3>Temporibus autem quibusdam</h3>
                    <p>by <strong>Debra Demo Admin</strong> 15 jan, 20</p>
                </div>
            </div>
        </div>
        <hr class="header-hr" />
        <div class="Social2">
            <p>Copyright <strong>Vesoz</strong> All Right Reserved</p>
            <div class="SocialIcons2">
                <img src="" alt="Facebook_logo" />
                <img src="" alt="Twitter_logo" />
                <img src="" alt="Gmail_logo" />
                <img src="" alt="Youtube_logo" />
            </div>
        </div>  
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
