<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="Border">
            <div class="Social">
                <p>Follow Us:</p>
                <div class="SocialIcons">
                    <img src="" alt="Facebook_logo" />
                    <img src="" alt="Twitter_logo" />
                    <img src="" alt="Gmail_logo" />
                    <img src="" alt="Instagram_logo" />
                    <img src="" alt="Youtube_logo" />
                </div>
            </div>
            <hr id="header-hr" />
            <div class="Search">
                <p id="debra">DEBRA</p>
                <input id="searchbar" type="search" name="search" value="" src="" placeholder="Search our store" />
                <a href="@Url.Action("Index","Home")"><img id="cart" src="" alt="Cart_logo"></a>
            </div>
        </div>

        <navigation>
                <div class="references">
                    <a href="@Url.Action("Index","Home")">Home</a>
                    <a href="@Url.Action("Index","Home")">Shop</a>
                    <a href="@Url.Action("Index","Home")">Products</a>
                    <a href="@Url.Action("Index","Home")">Blog</a>
                    <a href="@Url.Action("Index","Home")">About</a>
                    <a href="@Url.Action("Index","Home")">Contact</a>
                </div>
        </navigation>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
